html{
  background: repeating-radial-gradient(black, silver 5%, #80DB98 5%, black 10%);
  height: 100%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 230px;
}

.colorbox {
  width: 300px;
  height: 300px;
  transition: 1s;
  font-size: 2.3rem;
  /* letter-spacing: 0.2rem;  */
  /* border: solid black 10px; */
  border-radius: 50%;
} 

p{
  color: black;
} 